<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <p>Home test</p>

    <button class="get">get</button>
    <button class="post">post</button>
    <button class="put">put</button>
    <button class="delete">delete</button>

    <br>
    <br>
    <!--<form id="imageForm">-->
        <!--<input id="image" type="file" name="image">-->
        <!--<input type="text" name="house_id" id="house_id" value="00344377">-->
        <!--<input type="text" name="type" id="type" value="test">-->
        <!--<input type="text" name="number_of_balcony" id="number_of_balcony" value="1">-->
        <!--<input type="text" name="number_of_loggia" id="number_of_loggia" value="1">-->
        <!--<input type="text" name="area" id="area" value="111.11">-->
        <!--<input type="text" name="price" id="price" value="111.11">-->
        <!--<button class="post-image" type="button">add image</button>-->
    <!--</form>-->

    <!--<br>-->
    <!--<br>-->
    <!--<form id="imageFormChange">-->
        <!--<input id="image" type="file" name="image">-->
        <!--<input type="text" name="house_id" id="house_id" value="00344377">-->
        <!--<input type="text" name="type" id="type" value="changed">-->
        <!--<input type="text" name="number_of_balcony" id="number_of_balcony" value="7">-->
        <!--<input type="text" name="number_of_loggia" id="number_of_loggia" value="7">-->
        <!--<input type="text" name="area" id="area" value="222.22">-->
        <!--<input type="text" name="price" id="price" value="222.22">-->
        <!--<button class="put-image" type="button">change image</button>-->
    <!--</form>-->

    <!-- Floor type -->

    <!--<br>-->
    <!--<br>-->
    <!--<form id="imageFloorForm">-->
        <!--<input id="image" type="file" name="image">-->
        <!--<input type="text" name="house_id" id="house_id" value="00344377">-->
        <!--<input type="text" name="type" id="type" value="changed">-->
        <!--<input type="text" name="clone_floors" id="clone_floors" value="1, 2, 3, 4">-->
        <!--<input type="text" name="number_of_flats" id="number_of_flats" value="25">-->
        <!--<button class="post-floor-type" type="button">change image</button>-->
    <!--</form>-->

    <!--<br>-->
    <!--<br>-->
    <form id="imageFloorFormChange">
        <input id="image" type="file" name="image">
        <input type="text" name="house_id" id="house_id" value="00344377">
        <input type="text" name="type" id="type" value="changed">
        <input type="text" name="clone_floors" id="clone_floors" value="1, 2, 3, 4">
        <input type="text" name="number_of_flats" id="number_of_flats" value="5">
        <button class="put-floor-type" type="button">change image</button>
    </form>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <script>
        $('.post-image').on('click', function() {
            var data = new FormData(document.getElementById('imageForm'))

            data.append('image', document.getElementById('image'));

            axios({
                method: 'POST',

                headers: {
                    'Content-type': 'multipart/form-data'
                },

                data: data,

                url: 'http://172.100.2.15:8000/flats-schemas',

            }).then(function (response) {
                console.log(response);
            }).catch(function (error) {
                console.log(error)
            })
        });

        $('.put-image').on('click', function() {
            var data = new FormData(document.getElementById('imageFormChange'))

            data.append('image', document.getElementById('image'));

            axios({
                method: 'PUT',

                headers: {
                    'Content-type': 'multipart/form-data'
                },

                data: data,

                url: 'http://172.100.2.15:8000/flats-schemas/8c008648',

            }).then(function (response) {
                console.log(response);
            }).catch(function (error) {
                console.log(error)
            })
        });

        $('.post-floor-type').on('click', function() {
            var data = new FormData(document.getElementById('imageFloorForm'))

            data.append('image', document.getElementById('image'));

            axios({
                method: 'POST',

                headers: {
                    'Content-type': 'multipart/form-data'
                },

                data: data,

                url: 'http://172.100.2.15:8000/floor-types',

            }).then(function (response) {
                console.log(response);
            }).catch(function (error) {
                console.log(error)
            })
        });

        $('.put-floor-type').on('click', function() {
            var data = new FormData(document.getElementById('imageFloorFormChange'))

            data.append('image', document.getElementById('image'));

            axios({
                method: 'PUT',

                headers: {
                    'Content-type': 'multipart/form-data'
                },

                data: data,

                url: 'http://172.100.2.15:8000/floor-types/3889be30',

            }).then(function (response) {
                console.log(response);
            }).catch(function (error) {
                console.log(error)
            })
        });
    </script>

    <script>
        $('.get').on('click', function() {
            axios({
                method: 'GET',

                headers: {
                    {#"X-CSRFToken": '{{ csrf_token }}',#}
                },

                params: {
                    api_key: 'm9fYYw0buyXXn5HsUXJkWLbBEHuIQl8flDw2s9UuZioQmVArwyysVdU1NCELeUDy',
                },

                <!--url: 'http://172.100.2.15:8000/confirm/email/883e66a8',-->
                <!--url: 'http://172.100.2.15:8000/companies/9fd29501/users',-->
                <!--url: 'http://172.100.2.15:8000/users',-->
                <!--url: 'http://172.100.2.15:8000/buildings',-->
                <!--url: 'http://172.100.2.15:8000/buildings/1a95704e',-->
                <!--url: 'http://172.100.2.15:8000/company/0905d3a5/buildings',-->
                <!--url: 'http://172.100.2.15:8000/buildings/1a95704e/houses',-->
                <!--url: 'http://172.100.2.15:8000/houses/00344377',-->
                <!--url: 'http://172.100.2.15:8000/houses/00344377/flats-schemas',-->
                <!--url: 'http://172.100.2.15:8000/flats-schemas',-->
                <!--url: 'http://172.100.2.15:8000/flats-schemas/81873559',-->
                <!--url: 'http://172.100.2.15:8000/houses/2151697f/floor-types',-->
                <!--url: 'http://172.100.2.15:8000/floor-types'-->
                <!--url: 'http://172.100.2.15:8000/floor-types/d52b43f6'-->
                <!--url: 'http://172.100.2.15:8000/floors'-->
                <!--url: 'http://172.100.2.15:8000/flat-types/78ca8cc7',-->
                <!--url: 'http://172.100.2.15:8000/floor-type/52916086/flat-types',-->
                <!--url: 'http://172.100.2.15:8000/houses/f3096c6f/flats',-->
                <!--url: 'http://172.100.2.15:8000/houses/f3096c6f/test-flats',-->
            }).then(function (response) {
                console.log(response);
            })
        });

        $('.post').on('click', function() {
            axios({
                method: 'POST',

                headers: {
                    <!--"X-CSRFToken": '{{ csrf_token }}',-->
                },

                data: {
                    <!--email: 'admin2@gmail.com',-->

                    <!--password_code: 'a5e8b6a5',-->
                    <!--password: 'asdf123',-->
                    <!--password_confirmation: 'asdf1234',-->

                    <!--company_name: 'inpk',-->
                    <!--first_name: 'admin',-->
                    <!--last_name: 'admin',-->
                    <!--middle_name: 'admin',-->
                    <!--email: 'admin@gmail.com',-->
                    <!--phone: '89081996455',-->
                    <!--password: '1234asdf',-->
                    <!--password_confirmation: '1234asdf',-->
                    <!--is_agree_with_save_personal_data: 'True',-->

                    <!--email: 'admin2@gmail.com',-->
                    <!--password: 'asdf1234',-->

                    <!--name: 'building',-->
                    <!--region: 'building',-->
                    <!--district: 'building',-->
                    <!--city: 'building',-->
                    <!--country: 'building',-->
                    <!--video: 'https://www.youtube.com/?gl=RU&hl=ru',-->
                    <!--images: 'path/to/image',-->
                    <!--coordinates: '122.11, 888.00',-->
                    <!--currency: 'building',-->
                    <!--company_id: '46c59141',-->

                    api_key: "m9fYYw0buyXXn5HsUXJkWLbBEHuIQl8flDw2s9UuZioQmVArwyysVdU1NCELeUDy",

                    <!--building_id: '1a95704e',-->
                    <!--number_of_floors: 11,-->
                    <!--living_floors: '1-10',-->
                    <!--number_of_entrance: 4,-->
                    <!--number_of_flat: 500,-->
                    <!--street_name: 'Morozova',-->
                    <!--number: '25-a',-->
                    <!--finishing: 'pure',-->
                    <!--materials: ['material', 'material', 'material'],-->
                    <!--stage_development: 'test',-->
                    <!--start_development: '',-->
                    <!--end_development: '',-->

                    <!-- Flat schema -->
                    <!--house_id: '00344377',-->
                    <!--type: 'test',-->
                    <!--image: 'test',-->
                    <!--number_of_balcony: '',-->
                    <!--number_of_loggia: '',-->
                    <!--area: '111.11',-->
                    <!--price: '111.11',-->

                    <!-- Floor type -->
                    <!--house_id: '00344377',-->
                    <!--image: 'path/to/image',-->
                    <!--number: 1,-->
                    <!--clone_floors: '',-->
                    <!--number_of_flats: 15,-->

                    <!-- Flat type -->
                    <!--house_id: '2151697f',-->
                    <!--floor_type_id: '68f94f39',-->
                    <!--flat_schema_id: '6d8a21f0',-->
                    <!--entrance: 1,-->
                    <!--number: 1,-->
                    <!--windows: ['one', 'two'],-->
                    <!--coordinates: '213.22, 749.22',-->

                    house_id: '2151697f',
                },

                <!--url: 'http://172.100.2.15:8000/password/reset',-->
                <!--url: 'http://172.100.2.15:8000/password/email',-->
                <!--url: 'http://172.100.2.15:8000/register',-->
                <!--url: 'http://172.100.2.15:8000/login'-->
                <!--url: 'http://172.100.2.15:8000/logout'-->
                <!--url: 'http://172.100.2.15:8000/users'-->
                <!--url: 'http://172.100.2.15:8000/buildings'-->
                <!--url: 'http://172.100.2.15:8000/houses',-->
                <!--url: 'http://172.100.2.15:8000/flats-schemas',-->
                <!--url: 'http://172.100.2.15:8000/floor-types',-->
                <!--url: 'http://172.100.2.15:8000/flat-types',-->
                url: 'http://172.100.2.15:8000/flats/numbering',
            }).then(function (response) {
                console.log('then')
                console.log(response)
            }).catch(function (error) {
                console.log(1)
                console.log(error)
            })
        });

        $('.put').on('click', function() {
            axios({
                method: 'PUT',

                headers: {
                    <!--'X-CSRFToken': '{{ csrf_token }}'-->
                },

                data: {
                    <!--company_name: 'change',-->
                    <!--first_name: 'change',-->
                    <!--last_name: 'change',-->
                    <!--middle_name: 'change',-->
                    <!--email: 'user8@gmail.com',-->
                    <!--phone: '89081996428',-->
                    <!--password: '1234asdf',-->
                    <!--is_agree_with_save_personal_data: 'True',-->

                    <!--name: 'change2',-->
                    <!--region: 'change2',-->
                    <!--district: 'change2',-->
                    <!--city: 'change2',-->
                    <!--country: 'change',-->
                    <!--video: 'https://www.youtube.com/?gl=RU&hl=ru',-->
                    <!--images: 'change',-->
                    <!--coordinates: '234.8508, 073.0',-->
                    <!--currency: 'change',-->
                    <!--company_id: '46c59141',-->

                    <!--api_key: "1CZH42NZhVEgoOGPLHgOS2hA9AXtzvmmrLVOhNrewbqEyH36lr5HQUxHIy0YHGab",-->

                    <!--building_id: '1a95704e',-->
                    <!--number_of_floors: 13,-->
                    <!--living_floors: '2-5',-->
                    <!--number_of_entrance: 13,-->
                    <!--number_of_flat: 13,-->
                    <!--street_name: 'changed',-->
                    <!--number: '28/d',-->
                    <!--finishing: 'changed',-->
                    <!--materials: ['changed', 'changed'],-->
                    <!--stage_development: 'changed',-->
                    <!--start_development: '2017-06-13',-->
                    <!--end_development: '2017-06-13',-->

                    <!--house_id: 'f12865f7',-->
                    <!--type: 'change',-->
                    <!--image: 'change',-->
                    <!--number_of_balcony: 5,-->
                    <!--number_of_loggia: 5,-->
                    <!--area: '5.5',-->
                    <!--price: '5.5',-->

                    <!--house_id: '00344377',-->
                    <!--image: 'new/path/to/image',-->
                    <!--clone_floors: '5, 6',-->
                    <!--number_of_flats: 10,-->

                    house_id: 'f3096c6f',
                    floor_type_id: 'b7e2888a',
                    flat_schema_id: '6d8a21f0',
                    entrance: 1,
                    number: 1,
                    windows: ['one', 'two'],
                    coordinates: '213.22, 749.22',

                    <!--house_id: '3eca5cb2',-->
                    <!--typical_apartment_id: '820dff56',-->
                    <!--typical_floor_id: 'fcee45b0',-->
                    <!--planing_id: '2aae7ac4',-->
                    <!--entrance: 1,-->
                    <!--number: 1,-->
                    <!--area: 0,-->
                    <!--price: 0,-->
                    <!--windows: ['test', 'test2'],-->
                    <!--status: 0,-->
                    <!--coordinates: '213.22, 749.22',-->
                    <!--clone_floors: [1, 3, 5, 7]-->
                },

                <!--url: 'http://172.100.2.15:8000/users/8a724393',-->
                <!--url: 'http://172.100.2.15:8000/buildings/1a95704e'-->
                <!--url: 'http://172.100.2.15:8000/houses/73f2f201',-->
                <!--url: 'http://172.100.2.15:8000/flats-schemas/17389070',-->
                <!--url: 'http://172.100.2.15:8000/floor-types/c97958bb',-->
                url: 'http://172.100.2.15:8000/flat-types/8629bb7b',
            });
        });

        $('.delete').on('click', function() {
            axios({
                method: 'DELETE',

                headers: {
                    <!--"X-CSRFToken": '{{ csrf_token }}'-->
                },

                data: {
                    api_key: "1CZH42NZhVEgoOGPLHgOS2hA9AXtzvmmrLVOhNrewbqEyH36lr5HQUxHIy0YHGab",
                },

                <!--url: 'http://172.100.2.15:8000/users/4bb06707'-->
                <!--url: 'http://172.100.2.15:8000/buildings/3c6292b7'-->
                <!--url: 'http://172.100.2.15:8000/houses/73f2f201',-->
                <!--url: 'http://172.100.2.15:8000/flats-schemas/50028a46',-->
                url: 'http://172.100.2.15:8000/floor-types/5b24bc93',
                <!--url: 'http://172.100.2.15:8000/flat-types/6edf5d3c',-->
            })
        });
    </script>
</body>
</html>